{% load static %}
{% load i18n %}
<style>
      img{
          aspect-ratio: 3/2;
          object-fit: cover;
      }
      .channel{
          aspect-ratio: 5;
      }
      a{
          text-decoration-line:none;
      }
    </style>
<div class="container-fluid mt-3">
  {% include './create_channel_button.html' %}

  <div class="row row-cols-1 row-cols-md-1 g-2">
    {% for channel in object.user.owner.all %}

    <div class="col">
      <div class="card p-0   rounded-0">
        <div class="row d-flex justify-content-center align-items-center g-0">
          <div
            class="col-md-2 d-flex justify-content-center align-items-center"
          >
            {% if channel.image_ch %}

            <img
              src="{{channel.image_ch.url}}"
              style="
                width: 90px;
                color: #fff;
                height: 90px;
                margin: 5px;
                padding: 5px;
                color: fff !important;
                border-radius: 50%;
              "
            />
            {% else %}
            <div style="width: 90px; margin: 0; padding: 0; height: 90px">
              <center>
                <h3
                  class="d-flex justify-content-center align-items-center text-uppercase"
                  style="
                    width: 80px;
                    color: #fff;
                    height: 80px;
                    background-color: blue;
                    margin: 5px;
                    padding: 5px;
                    color: fff !important;
                    border-radius: 50%;
                  "
                >
                  {{channel.name|slice:"0:1"}}
                </h3>
              </center>
            </div>
            {% endif %}
          </div>
          <div class="col-md-8">
            <div class="card-body channel">
              <table  style="width: 100%; height: 100%">
                <tr >
                  <th class='w-50'>{% trans "Name" %}</th>
                  <th class=''><center>{% trans "Follower" %}</center></th>
                 
                  {% if user.id == object.user.id %}
                  <th class=''><center>{% trans "Setting" %}</center></th>

                  {% endif %}
                </tr>
                <tr>
                  <td>
                   <h5 class="card-title">
                      <a href="{% url 'channel' channel.slug %}">
                          {{channel}}</a>
                    </h5>
                  </td>
                  <td>
                    <center><h5>
                      <strong>{{channel.total_subscribers}}</strong>
                      <i class="fa-solid fa-users"></i>
                    </h5></center>
                  </td>
                  {% if user.id == object.user.id %}
                  <td>
                    <center><h5>
                      <a href="{% url 'channel_sittings' channel.slug%}"><i class="fa-solid fa-gear"></i></a>
                    </h5></center>
                  </td>
                {% endif %}
                
                  
                 
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</div>
