{% load i18n %}
{% if user.id == object.user.id %}
  <div class="d-flex justify-content-end my-3">
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      data-bs-whatever="@getbootstrap"
    >
      {% trans "Create Channel" %}
    </button>
  </div>

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{% trans "New Channel" %}</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="form-channel">
          <form name="myForm" action="{% url 'channel_create' %}" method="post">
            <div class="modal-body">
              {% csrf_token %}
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">{% trans "Name" %}:</label>
                <input
                  type="text"
                  class="form-control"
                  id="recipient-name"
                  name="name"
                  minlength="6"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label"
                  >{% trans "Channel Avatar" %}:</label
                >
                <input
                  class="form-control"
                  id="recipient-name"
                  name="image_ch"
                  type="file"
                />
                <label for="recipient-name" class="col-form-label"
                  >{% trans "Channel Username:" %}</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="recipient-name"
                  name="slug"
                  minlength="6"
                />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                {% trans "Close" %}
              </button>
              <button type="submit" class="btn btn-primary">{% trans "Create" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endif %}