[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
django = "*"
pillow = "*"
gunicorn = "*"
whitenoise = "*"
django-axes = "*"
python-dotenv = "*"
django-compressor = "*"
django-admin-interface = "*"
django-colorfield = "*"
phonenumbers = "*"
django-phonenumber-field = "*"
django-db-logger = "*"
django-hitcount = "*"
django-ckeditor-5 = "*"
django-ratelimit = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-filter = "*"
psycopg2 = "*"
django-autoslug = "*"
django-ckeditor = "*"
django-jazzmin = "*"
django-debug-toolbar = "*"
django-pagination-bootstrap = "*"
django-allauth = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.11"
