{% extends 'homepage.html' %}

    {% block title %}
    Ruyhattan utish
    {% endblock title %}

{% block content %}

{% load crispy_forms_tags %}

<div class ='card'>
  <div class='card-body'>
    <form method="post" class=''>
      <div class="row d-flex justify-content-center">
        
      
      <div class="card col-lg-6 ">
      
        <div class="card-body">
        
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          {% csrf_token %}
         
          {% crispy form %}
          </div>
          <button type="submit" class="btn btn-primary">Signup</button>
          <button type="reset" class="btn btn">Reset</button>
  
      </div>
    </div>
      </form>
    </div>
</div>

  

  


<script>
  console.log('{{request.get_full_path}}')
</script>
    {% endblock content %}
  