/********** Template CSS **********/
:root {
    --primary: #13C5DD;
    --secondary: #354F8E;
    --light: #EFF5F9;
    --dark: #1D2A4D;
}
.registration{
    background-color: var(--primary);
}
.navbar-light .navbar-nav .nav-link {
    font-family: 'Jost', sans-serif;
    position: relative;
    margin-left: 30px;
    padding: 30px 0;
    font-size: 18px;
    font-weight: 700;
    color: var(--dark);
    outline: none;
    transition: .5s;
}

.navbar-toggler:focus{
    border-color: var(--secondary);
}
.primary{
    background-color: var(--primary);
    color: var(--light);
}

@media (min-width: 992px) {
    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 5px;
        bottom: 0;
        left: 50%;
        background: var(--primary);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-left: 0;
        padding: 10px 0;
    }
}
/* Footer */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}


.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  height: 250px;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

/*========= Css code =========*/

.form-login ,.form-signup{
    width: 95%;
}
@media (min-width: 500px) and (max-width: 991.98px) {
    .form-login,.form-signup{
        width: 80%;
    }
}
@media (min-width: 991.98px) {
    .form-login{
        width: 60%;
    }
    .form-signup{
        width: 50%;
    }
}

div.pagination{
    overflow-x: auto !important;
}
div.pagination::-webkit-scrollbar {
  display: none;
}

/* .card{
    box-sizing: border-box;
    border-color: var(--secondary);
} */
.card-text-div{
    color:black;
}
.page-item .page-link{
    color: var(--secondary);
}
.page-item .page-link:hover{
    color: var(--primary);
}
.form-control:focus{
    border-color: var(--secondary);
}

/* Vertical */
.login{
  background-image: url('../img/gdpr-animate-2.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.article-img{
  width: 50%;
  height: 300px;
  background-image: url('../img/3973481.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.parallax {
  /* The image used */
  background-image: url('../img/photo_2022-10-06_21-45-36.jpg');
  /* Set a specific height */
  min-height: 400px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-fluid, .sticky-top mb-0 ,.bg-white ,.shadow-sm{
    margin:0 !important;
}
