{% extends 'index.html' %}
{% load static %}

{% block title %}
     Some text
{% endblock %}
{% block content %}
<link rel="stylesheet" href={% static 'css/styles.css' %} type="text/css">

{% for article in object_list %}

    <div class='ck-content'>
        {{article.hit_count.hits}}
        <a href="{% url 'article_detail' article.slug%}">{{article.title}}</a>
    {{article.content|safe}}
    
        
    {{article.created_at|date:'Y/m/d'}}
    {{article.author}}
    
        <hr/>

    {% for comment in article.article_comments.all %}
    <b>{{comment.comment|safe}}</b>

    {% endfor %}
    </div>
    <br/>
{% endfor %}

{% endblock content %}