{% load cache %}
{% load i18n %}

    
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Bosh Sahifa
        {% endblock title %}
    </title>
</head>
<body>
    
    
    {% if user.is_authenticated %}
     
        {% if not email_verification%}
            <h5>EMAILINGIZNI TASTIQLANG</h5>
        {% endif %}
        {{email_verify}}
    <li class="li-group"><a href="{% url 'logout' %}">Logout</a></li>
    {% endif %}
    {% block content %}
    {% for msg in messages %}
<div class='mt-2'>
    <div class="alert alert-primary ">{{ msg }}</div>
</div>
{% endfor %}
    {% endblock content %}
   
</body>
</html>