{% extends 'base.html' %} {% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load pagination_tags %}
{% block title %} 
{% trans "Maqolalat Sahifasi" %} 
{% endblock %} 
{% block content %}
<style>
    img{
        aspect-ratio: 3/2;
        object-fit: cover;
    }
    .card-body{
        aspect-ratio: 3;
    }
    a{
        text-decoration-line:none;
    }
    .sc{
        display:none;
    }
</style>

<div class="container mt-3">
    
    <div class='w-100'>
        <div class='mb-3'>
            <div class='row py-0'>
                <div class='col-lg-6'>
                    {% autopaginate object_list 10 %}
       
                    {% if paginator.num_pages %}
                    <div class="pagination">
                        {% paginate %}
                    </div>
                    {% endif %}
                </div>
                <div class='col-lg-6'>
                    <form class="d-flex justify-content-end row " method='GET'>
                        <div class='col-9 col-lg-10 pe-0'>
                        {{filter.form}} 
                        </div>
                        <div class='col-3 ps-0 col-lg-2 '>
                            <button class='rounded-start-0 w-100 shadow-none btn btn-outline-primary'><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-2">
        {% for article in object_list.all %}
        <div class="col">
            <div class="card p-0 rounded-0">
                <div class="row g-0">
                    <div class="col-md-4">
                        {% if article.image_at %}
                        <img src="{{article.image_at.url}}" class="card-img-top rounded-0" alt="...">
                        {% else %}
                        <img src="{% static 'img/woocommerce-placeholder-300x300.png' %}" class="card-img-top rounded-0" alt="...">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">       
                            <h6 class="card-title"><a href="{% url 'article_detail' article.slug %}">{{article}}</a></h6>
                            
                        </div>
                        <div class='card-footer'>
                            <div class="card-text d-flex justify-content-between"><small class="text-muted"><time>{{article.created_at}}</time></small><strong class='text-muted'>{{article.hit_count.hits}} <i class="fa-solid fa-eye"></i></strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<script>
    var label=document.querySelector("label[for='id_title_at__icontains']");
    var input_search=document.querySelector("#id_title_at__icontains");
    let input = document.querySelector('#id_title_at__icontains')
    input_search.classList.add('rounded-end-0')
    input_search.classList.add('shadow-none')
    label.classList.add("sc")
    input.classList.add("form-control", "w-100")
</script>
{% endblock content %}
