{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% block title %} Create Article {% endblock title %}
{% block content %}
<style>
  label{
    display:none;
  }
  input::placeholder {
    font: 36px sans-serif;
    font-weight: bold;
}
input[type="text"]
{
    font-size:36px;
    font-weight: bold;
}

</style>
<div class='container py-3'>
  <form method="post" class="" enctype="multipart/form-data" novalidate>
    <div class="card border-0">
      <div class="card-body">
        <p class="card-text">
          
        </p>
        {% csrf_token %} {% crispy form %}
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </div>
  </form>
</div>
{% endblock content %}
