
<div class="row row-cols-1 row-cols-md-1 g-1">
  {% for object in object.subscribers.all|slice:":50" %}

  <div class="col">
    <div class="card border-0 p-0 rounded-0">
      <div class="row d-flex align-items-center">
        <div class="col-2">
          {% if object.profile.user_pic %}
          <div class="mb-1">
          <img
            src="{{object.profile.user_pic.url}}"
            
            style="
              border:1px solid blue; object-fit: cover;
              width: 50px;
              color: #fff;
              height: 50px;
              color: fff !important;
              border-radius: 100%;
            "
          />
          </div>
          {% else %}
          <div style="width: 50px height: 50px" class="">
            <center>
              <h5
                class="d-flex justify-content-center align-items-center text-uppercase"
                style="
                  width: 50px;
                  color: #fff;
                  height: 50px;
                  background-color: blue;
                  color: fff !important;
                  border-radius: 100%;
                "
              >
                {{object.username|slice:"0:1"}}
              </h5>
            </center>
          </div>
          {% endif %}
        </div>
        <div class="col-8">
          <div class="card-body p-0">
            <h6 class="card-title">
              <a href="{% url 'profile' object.profile.slug%}">{{object.username}}</a>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% with qiymat=object.subscribers.all.count %}
  {% if qiymat|add:"-50" > 0 %}
    And {{qiymat|add:"-50"}} others
  {% endif %}
  {% endwith %}
 
</div>
