{% load i18n %}
<style>
    figure,.ck-content img {
        aspect-ratio: 3/2;
        width: 100% ;
        max-width: 100% ;
        object-fit: contain;
      }
.post {
    max-height:600px;
    overflow:auto;
    width: 100%;
}
.post::-webkit-scrollbar {
  display: none;
}

</style>
<div class='post'>
{% for post in object.post.all reversed %}
<div class='card mx-1 mb-1'>
<div class='card-body  ck-content'>

{{post.content_pt|safe}}
</div>
<div class='card-footer d-flex justify-content-between'>
    <div>
        <p style="font-size:14px;">{{post.created_pt}} </p>
    </div>
    <div>
        <p style="font-size:14px;">{% trans "Post Muallifi" %}: <strong>{{post.author}}</strong></p>
    </div>
</div>
</div>
{% endfor %}

<div class='card rounded bg-secondary mx-1 mb-2'>
    
    <div class='card-body  m-0 py-1 rounded text-white d-flex align-items-center justify-content-center'>
        <h5 class="m-0">Post End.</h5>
    </div>
</div>
</div>