{% load static %}
<link href="{% static './css/bootstrap.css' %}" rel="stylesheet"/>
<link href="{% static './css/jquery-ui.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static './css/ckeditor-style.css' %}">
<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">  
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<!-- Icon Font Stylesheet -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
<link href="{% static './css/bootstrap-icons.css' %}" rel="stylesheet">

<!-- Template Stylesheet -->
<link href="{% static './css/style.css' %}" rel="stylesheet">
<!-- Topbar Start -->
