{% load static %}
<script src="{% static './js/popper.js'%}"></script>
<script src="{% static './js/bootstrap.js'%}"></script>
<script src="{% static './js/jquery.js'%}"></script>
<script src="{% static './js/jquery-ui.js'%}"></script>
<script>
  let input = document.querySelector('#id_title_at__icontains')
  input.classList.add('rounded-end-0')
  console.log(12)
  $( function() {
    $( "#id_birth_date" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: `1950:${new Date("YYYY")}`
    });
  } );
</script>




